<div class="d-flex mt-2 mb-2">
    <div class="quality">
        <div class="quality-title">
            <p class="btn qual-circle btn-circle">
                <img src="{{ 'tick.png' | asset_url }}" alt="">
            </p>
            <span class="qual-text">FREE SHIPPING & FREE RETURNS (USA & CANADA)</span>
        </div> 
        <div class="quality-title">
            <p class="btn qual-circle btn-circle">
                <img src="{{ 'tick.png' | asset_url }}" alt="">
            </p>
            <span class="qual-text"> FAST SHIPPING TO ALL STATES IN THE US </span> 
        </div>
        <div class="quality-title">
            <p class="btn qual-circle btn-circle">
                <img src="{{ 'tick.png' | asset_url }}" alt="">
            </p>
            <span class="qual-text"> FAST SHIPPING TO ALL STATES IN THE US </span>
        </div> 
    </div>
    <div class="quality">
        <div class="quality-title ">
            <p class="btn qual-circle btn-circle">
                <img src="{{ 'tick.png' | asset_url }}" alt="">
            </p>
            <span class="qual-text"> 30-DAYS MONEY-BACK GUARANTEE </span>
        </div> 
        <div class="quality-title">
            <p class="btn qual-circle btn-circle">
                <img src="{{ 'tick.png' | asset_url }}" alt="">
            </p>
            <span class="qual-text">MADE OF HIGH DURABILITY SOFT MATERIAL S </span> 
        </div>
        <div class="quality-title">
            <p class="btn qual-circle btn-circle">
                <img src="{{ 'tick.png' | asset_url }}" alt="">
            </p>
            <span class="qual-text">MADE OF HIGH DURABILITY SOFT MATERIAL S</span> 
        </div> 
    </div>
</div>